AccessModifierOffset : -4
AllowShortFunctionsOnASingleLine : true
AllowShortIfStatementsOnASingleLine : true
AllowShortLoopsOnASingleLine : true
AlwaysBreakTemplateDeclarations : true
AlignAfterOpenBracket : false
BreakBeforeBraces : Allman
ContinuationIndentWidth : 4
IndentWidth : 4
PointerAlignment : Left
SpacesInParentheses : false
TabWidth : 8
UseTab : Never
Standard : C++11
SortIncludes: false
IndentCaseLabels: true
