# tags
TAGS
tags
.notags

# vim and it's plugin related
*.swp
.ycm_extra_conf.py
.ropeproject
tags.temp
tags.lock
.color_coded
.viminfo

# cmake
.compile_commands.json

# misc
build
dependences
__pycache__
