
# tags
TAGS
tags
.notags

# vim and it's plugin related
*.swp
.ycm_extra_conf.py
.ropeproject
tags.temp
tags.lock
.color_coded
.viminfo
.netrwhist
.clangd

# cmake
.compile_commands.json
compile_commands.json

# latex
*.aux
*.fdb_latexmk
*.fls
*.pdf
*.synctex.gz

# log
*.log

# misc
.anacrontab/spool/*
build
dependences
__pycache__

# parts of .oh-my-zsh
.oh-my-zsh/*
!.oh-my-zsh/custom/*
.oh-my-zsh/example.zsh
.oh-my-zsh/custom/plugins/examples
.oh-my-zsh/custom/themes/example.zsh-theme
