[user]
	name = PntAndCnt
	email = peanutandchestnut@gmail.com
[push]
	default = simple
[core]
	editor = nvim
	excludesfile = /home/pntandcnt/.gitignore
[merge]
	tool = vimdiff3
[mergetool "vimdiff3"]
	cmd = nvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[alias]
	dotfiles = !git --git-dir=$HOME/.dotfiles --work-tree=$HOME
