# Include system-wide inputrc, which is ignored by default when a user has
# their own .inputrc file.
$include /etc/inputrc

set editing-mode vi
set convert-meta on
# set colored-completion-prefix on

# replace prefix with ... if it's longer than 8 characters, it conflicts with
# colored-completion-prefix
set completion-prefix-display-length 3

# skip ringing bell, list completions immediately
set show-all-if-ambiguous on

# color completion by LS_COLORS
# set colored-stats on

# avoid duplicate tail
set skip-completed-text on

# add trailing file type mark for completions
set visible-stats on

set completion-ignore-case on

set menu-complete-display-prefix off

$if mode=vi
    set keyseq-timeout 0
    set show-mode-in-prompt on

    # use yellow mod string
    $if term=linux
        # 136=10001000, select bink, bold and existing bits, 255 toggle all bits.
        set vi-cmd-mode-string \1\e[0;33m\e[?16;255;136c\2(c)
        set vi-ins-mode-string \1\e[0;33m\e[?0c\2(i)
    $else
        # use bar cursor in ins mode, block cursor in cmd mode
        $if term=screen
            set vi-cmd-mode-string \1\e[0;33m\ePtmux;\e\e[2 q\e\\\2(c)
            set vi-ins-mode-string \1\e[0;33m\ePtmux;\e\e[5 q\e\\\2(i)
        $else
            set vi-cmd-mode-string \1\e[0;33m\e[2 q\2(c)
            set vi-ins-mode-string \1\e[0;33m\e[5 q\2(i)
        $endif
    $endif

    # insert mode map
    set keymap vi-insert

    "\M-e":history-expand-line
    "\M-t":complete

    # use tab for both complete and history expand line.  If current word
    # starts with !, and it's possible to complete, complete will escaped the
    # leading ! as \!, so history expansion won't be triggered.
    "\t":"\M-t\M-e"
    "\C-e":shell-expand-line
    "\C-x\C-r":re-read-init-file
    "\C-x\C-a":alias-expand-line

    # command mode map
    set keymap vi-command

    # c mode * to glob-expand-word
    # c mode [count]_ to insert nth arg, count starts from 1 for !!:0, insert
    # last arg without count
    # c mode c-t transpose neighbor characters
    # c mode [count]G to move to nth history
    # / search is broken until bash 5.0 (It should use glob pattern, plus use ^
    # to match start).

    "gU":upcase-word
    "gu":downcase-word
    "qq":start-kbd-macro
    "qe":end-kbd-macro
    "@q":call-last-kbd-macro
    "qp":print-last-kbd-macro

    # use this until bash5.0
    "\C-n":history-search-forward
    "\C-p":history-search-backward
$else

$endif
